.calculadora{
    background: rgb(153, 213, 253);
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.calculadora input{
    background: rgb(9, 103, 146);
    color: white;
    padding: 5px;
    border-radius: 10px;
}
#spTotal{
    background: rgb(123, 125, 255);
    color: white;
    padding: 5px;
    border-radius: 10px;
}
.calculadora button{
    background: rgb(158, 190, 231);
    color: rgb(9, 25, 77);
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
}
.calculadora button:hover{
    background: rgb(8, 8, 134);
    color: white;
    cursor: pointer;
}
.calcF{
    display: none;

}
#input-calcF{
    display: none;
}
h5{
    color: rgb(3, 15, 85);
}
#input-calcF:checked + .calculadora .calcF{
    display: block;
}
